{% if pageCount > 0 %}
<ul class="pagination pagination-sm justify-content-center">
    <li class="page-item{% if page == 1 %} disabled{% endif %}"><a class="page-link" href="{{ path(route_name, {'page': page-1}) }}">&laquo;</a></li>
    {% for i in 1..pageCount %}
        <li class="page-item{% if i == page %} active{% endif %}"><a class="page-link" href="{{ path(route_name, {'page': i}) }}">{{ i }}</a></li>
    {% endfor %}
    <li class="page-item{% if page == pageCount %} disabled{% endif %}"><a class="page-link" href="{{ path(route_name, {'page': page+1}) }}">&raquo;</a></li>
</ul>
{% endif %}