<form method="post" action="{{ path('post_delete', {'id': post.id}) }}" onsubmit="return confirm('Na pewno chcesz usunąć ten post?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
    <button class="btn btn-danger w-100 mt-1">Usuń</button>
</form>
