{{ form_start(form) }}
<label for="post_title">Tytuł postu</label>
<div class="text-danger">{{ form_errors(form.title) }}</div>
{{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
<small class="text-muted">{{ form_help(form.title) }}</small>

<label for="post_title">Treść postu</label>
<div class="text-danger">{{ form_errors(form.content) }}</div>
{{ form_widget(form.content, {'attr': {'class': 'form-control', 'rows': 5}}) }}
<small class="text-muted">{{ form_help(form.content) }}</small>

<label for="post_title">Obraz postu</label>
<div class="text-danger">{{ form_errors(form.image) }}</div>
{% if not form.vars.value.imageId is empty %}
    <div>
        <img src="{{ asset('images/posts/'~ form.vars.value.imageId) }}"
             alt="{{ post.title }}" class="mb-2"/>
    </div>
{% endif %}
{{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
<small class="text-muted">{{ form_help(form.image) }}</small>


{{ form_widget(form._token) }}
<button type="submit" class="mt-3 btn btn-primary w-100">Zapisz</button>
{{ form_end(form, {'render_rest': false}) }}