{% extends 'base.html.twig' %}

{% block body %}
    {% if post is empty %}
        <h3>Nie znaleziono postu.</h3>
    {% else %}
        <h2>Edycja postu</h2>

        {{ include('post/_form.html.twig') }}
        {{ include('post/_delete_form.html.twig') }}
    {% endif %}
    <a href="{{ path('post_index') }}" class="btn btn-link mt-3">wróć do listy postów</a>
{% endblock %}
