{% extends 'base.html.twig' %}

{% block body %}
    <div class="mt-4 mb-4">
        <a href="{{ path('post_new') }}" class="btn btn-primary mb-3">Utwórz post</a>
    </div>

    {% for post in posts %}
        <hr/>
        <article>
            <div class="row">
                <div class="col-md-8">
                    <h4>{{ post.title }}</h4>
                    <small class="text-muted">{{ post.createdAt|date('Y-m-d H:i:s') }}</small>
                    <p class="mt-3">{{ post.content|raw }}</p>
                    <div class="btn-group btn-group-sm" role="group">
                        <a href="{{ path('post_show', {id: post.id}) }}" role="button"
                           class="btn btn-primary">Szczegóły</a>
                        <a href="{{ path('post_edit', {id: post.id}) }}" role="button"
                           class="btn btn-secondary">Edytuj</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="{{ asset('images/posts/'~ post.imageId) }}"
                         alt="{{ post.title }}"/>
                </div>
            </div>
        </article>
    {% else %}
        <hr/>
        <h5>Nie znaleziono postów.</h5>
    {% endfor %}
    {% include 'pagination.html.twig' with {'route_name': 'post_index'} %}
{% endblock %}
