{% extends 'base.html.twig' %}

{% block body %}
    <h2>Utwórz nowy post</h2>

    {{ include('post/_form.html.twig') }}

    <a href="{{ path('post_index') }}" class="btn btn-link mt-3">wróć do listy postów</a>
{% endblock %}
