{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    {% if post is empty %}
        <h3>Nie znaleziono postu.</h3>
    {% else %}
        <h1>Post</h1>
        <table class="table">
            <tbody>
            <tr>
                <th>Identyfikator</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Tytuł</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>Utworzony</th>
                <td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Ostatnia aktualizacja</th>
                <td>{{ post.updatedAt ? post.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Treść postu</th>
                <td>{{ post.content|raw }}</td>
            </tr>
            <tr>
                <th>Obraz</th>
                <td><img src="{{ asset('images/posts/'~ post.imageId) }}" alt="{{ post.title }}"></td>
            </tr>
            </tbody>
        </table>
        <a href="{{ path('post_edit', {'id': post.id}) }}" role="button" class="btn btn-primary w-100">Edytuj</a>
        {{ include('post/_delete_form.html.twig') }}
    {% endif %}
    <a href="{{ path('post_index') }}" class="btn btn-link mt-3">wróć do listy postów</a>
{% endblock %}
